[submodule "allolib"]
    path = allolib
	url = git@github.com:Allosphere-Research-Group/allolib.git
	shallow = true
[submodule "al_ext"]
	path = al_ext
	url = git@github.com:Allosphere-Research-Group/al_ext.git
	shallow = true
[submodule "SimpleCompressor"]
	path = SimpleCompressor
	url = git@github.com:DanielRudrich/SimpleCompressor.git
	shallow = true
